appnope==0.1.0
asgi-redis==1.4.3
asgiref==1.1.2
async-timeout==2.0.1
attrs==18.2.0
autobahn==18.11.2
Automat==0.7.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.10.15
channels==1.1.5
chardet==3.0.4
constantly==15.1.0
daphne==1.4.2
decorator==4.3.0
Django==2.2.24
django-channels==0.7.0
django-rest-framework==0.1.0
djangorestframework==3.9.0
enum34==1.1.6
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
msgpack-python==0.5.6
oauthlib==2.1.0
pathlib==1.0.1
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
pika==0.12.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.3.0
PyHamcrest==1.9.0
pytz==2018.7
redis==2.10.6
requests==2.20.1
requests-oauthlib==1.0.0
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
websocket-client==0.54.0
zope.interface==4.6.0
